/* GLOBAL STYLE */
html 
{ 
  height: 100%;
  scroll-behavior: smooth;  
}

select 
{
  color: #000000;
  width: 100%;
  outline: none;
  min-width: 140px;
  max-width: 140px;
  border-color: #AEAEAE;
  font-family: monospace;
  font-size: 20px;
  cursor: pointer;
}

option
{
  text-align:center;
}

footer
{
  font-weight: 1000;
  color: wheat;
  margin: 0px;
  font-size: 2em;
  width: 100%;
  display: flex;
  position: fixed;
  text-align: center;
  bottom: 0px;
  flex: 0 0 50px;
  align-content: flex-end;
}

form label
{ 
  font-size: 20px;
}

form ul
{
  list-style:none; 
  padding-inline-start: 5px; 
  padding-inline-end: 5px;
  margin: 9.1px 0px 9.1px 0px;
}

form td
{
  color: #000000;
  font-size: 20px;
}

form textarea
{
  font-size: 20px;
  width: calc(100% - 45px);
  padding: 10px 5px;
  padding-inline-start: 40px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #AEAEAE;
  outline: none;
  background: transparent;
  color: #000000;
  resize: vertical;
  min-height: 20px;
  max-height: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.2;
    background-color:transparent;
}

.fa-user {
  background: transparent;
  color: rgb(128, 77, 0);
}

.fa-key {
  background: transparent;
  color: gold;
}

.fa-comment {
  background: transparent;
  color: lightslategrey;
}

.fa-facebook {
  background: transparent;
  color: #006EFF;
}


.fa-instagram {
  background: transparent;
  color: orangered;
}


.fa-whatsapp {
  background: transparent;
  color: #00FF00;
}

::-webkit-resizer 
{
  border: 9px solid transparent; 	
  border-bottom-color: #AEAEAE; 	
  border-right-color: #AEAEAE; 	
  outline: 1px solid transparent;   
}

select::-ms-expand 
{
  display: none;
}

::placeholder
{
  padding-left: 0px;
  color: #AEAEAE;
  
}

/* CHANGE INPUT TYPE [NUMBER] APPEARANCE IN CHROME, EDGE, SAFARI, OPERA*/
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

/* CHANGE INPUT TYPE [NUMBER] APPEARANCE IN MOZILLA */
input[type=number] 
{
  -moz-appearance: textfield;
}





/* PROJECT STYLE */
.BODY_2
{
  font-family: monospace;
  background-image: url(/03.\ BACKGROUND.jpg);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
}

.CONTAINER
{
  width: 360px;
  height: 480px;
  margin: 1px auto;
  background: #FFFFFF;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.FORM_H2
{
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  color: #000000;
}

.CONTAINER form
{
  width: 280px;
  position: absolute;
  top: 80px;
  left: 40px;
  transition: 1s;
  padding-bottom: 100px;
}

.FORM_1
{ 
  outline: none;
  font-size: 20px;
  font-family: monospace;
  width: calc(100% - 45px);
  padding: 10px 5px;
  padding-inline-start: 40px;
  overflow: hidden;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #AEAEAE;
  background: transparent;
  color: #000000;
}

.FORM_2
{
  outline: none;
  font-size: 20px;
  font-family: monospace;
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #AEAEAE;
  background: transparent;
  color: #000000;
}

.FORM_3
{
  outline: none;
  font-size: 20px;
  font-family: monospace;
  width: calc(100% - 45px);
  padding: 10px 5px;
  padding-inline-start: 40px;
  overflow: hidden;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #FF0000;
  background: transparent;
  color: #000000;
}

#FORM_2
{
  left: 450px;
}

#FORM_3
{
  left: 450px;
}

.BUTTON_NAV_1
{
  position: relative;
  width: 100%;
  top: 50%;
  left: 27%;
  margin: 67.3px auto;
  text-align: center;
}

.FORM_1_BUTTON
{
  display: none;
  font-weight: 1000;
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to top, #0095F6, #0095F9);
  border-radius: 2px;
  border: none;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.FORM_1_BUTTON_DISABLED
{
  display: block;
  font-weight: 1000;
  width: 110px;
  height: 35px;
  margin: 0 10px;
  border-radius: 2px;
  border: none;
  outline: none;
  color: #AEAEAE; 
  background:rgb(162, 226, 255);
}

.FORM_2_BUTTON
{
  position: relative;
  font-weight: 1000;
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to top, #0095F6, #0095F9);
  border-radius: 2px;
  border: none;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.FORM_3_BUTTON
{
  position: relative;
  font-weight: 1000;
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to top, #0095F6, #0095F9);
  border-radius: 2px;
  border: none;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.BUTTON_NAV_2
{
  width: 100%;
  margin: 24px auto;
  text-align: center;
}

.BUTTON_NAV_3
{
  width: 100%;
  margin: 70px auto;
  text-align: center;
}

.PROCESS_ROW
{
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 1px 10px -1px 10px #000000;
  position: relative;
}

.PROCESS_COL
{
  font-weight: 600;
  font-size: 20px;
  width: 120px;
  text-align: center;
  color: #006EFF;
  position: relative;
}

#PROCESS_ARROW
{
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #00AEFF, #51B6FA, #B1DCFF);
  transition: 1s;
}

#PROCESS_ARROW::after
{
  content: '';
  height: 0px;
  width: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #B1DCFF;
}


  
  
  